.exerciseAnimation {
  position: relative;
  text-align: center;
}

.video-overlay {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.video-overlay h2 {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  font-weight: 600;
  /* margin: 2rem 3rem 0; */
  mix-blend-mode: normal;
  /* padding: 5px 15px; */
  text-align: center;
}
